/* ------------------------ Hey, little troublemaker ---------------------------

  Broomhilda child theme for ptp
  by jimpalompa

  Stylesheet url: github.com/jimpalompa/ptp

----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
  IMPORT PARENT THEME
----------------------------------------------------------------------------- */

@import url(django.css);

/* -----------------------------------------------------------------------------
  VARIABLES
----------------------------------------------------------------------------- */

:root {
  --color--background--black:      #050505; /* shade 80% */
  --color--background--input:      #141414; /* shade 20% */
  --color--background--primary:    #f7f5f3;
  --color--background--secondary:  #ebe9e7; /* shade 5% */
  --color--background--tertiary:   #d2d0cf; /* shade 15% */
  --color--background--quaternary: #b9b8b6; /* shade 25% */
  --color--background--quinary:    #a19f9e; /* shade 35% */

  --color--foreground--vivid:      #b29a7d;
  --color--foreground--primary:    #f2e4c7;
  --color--foreground--secondary:  #a9a08b; /* shade 30% */
  --color--foreground--tertiary:   #797264; /* shade 50% */
  --color--foreground--quaternary: #615b50; /* shade 60% */

  --color--white:        #343331;
}

/* ------ Next time we do the bags right, and then we go full regalia ------- */
